{
    "auth_sso_url": "http://sso.lain.cloud",
    "auth_client_id": 5,
    "auth_secret": "gjmlsj7MwshpSa4eTzPDtQ",
    "auth_redirect_uri": "http://hagrid.lain.cloud/",
    "db_host": "mysql-master",
    "db_port": 3306,
    "db_user": "hagrid",
    "db_password": "hagrid",
    "db_name": "hagrid",
    "db_debug": true,
    "db_migrate": true,
    "icinga2_api_address": "https://icinga-1:5665",
    "icinga2_api_user": "root",
    "icinga2_api_password": "icinga",
    "icinga2_notification_types": ["sms", "email", "bearychat"],
    "superuser": "admin",
    "source": "http://10.130.64.236:8888"
}
