[icingaweb_db]
type = "db"
db = "mysql"
host = "mysql-master"
port = "3306"
dbname = "icingaweb2"
username = "icingaweb2"
password = "icingaweb2"
charset = "utf8"
persistent = "1"

[icinga_ido]
type = "db"
db = "mysql"
host = "mysql-master"
port = "3306"
dbname = "icinga"
username = "icinga"
password = "icinga"
charset = "utf8"
persistent = "1"
