{{ range $service := .Services }}
apply Service "{{ .GetServiceName }}" {
  import "generic-service"
  check_command = "{{ .GetServiceCheckCommand }}"
  max_check_attempts = {{ .GetServiceCheckAttempts }}
  vars.service_id = "{{ .GetServiceID }}"
  {{ range $metric_key, $metric_value := .GetServiceVars }}
  vars.{{ $metric_key }} = "{{ $metric_value }}"
  {{ end }}
  assign where host.name == NodeName
}

{{ end }}
